.content {
  padding-bottom: 20px;
  width: 1200px;
  margin: 0 auto;
}
.con {
  padding-top: 20px;
}
.exam-wrapper {
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #dfdfdf;
}
.exam-wrapper .name,
.exam-wrapper .score,
.exam-wrapper .pass {
  float: left;
  margin-right: 30px;
}
.exam-wrapper .name p {
  max-width: 500px;
  height: 40px;
  overflow: hidden;
}
.exam-wrapper .submit {
  float: right;
}
.exam-wrapper .submit button {
  height: 30px;
  line-height: 30px;
  outline: none;
  border: none;
  background-color: #3481d0;
  color: #fff;
  padding: 0 15px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
}
.fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #dfdfdf;
  transition: all 0.5s;
}
.fixed .exam-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
.exam-name {
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  background-color: #aaa;
  color: #fff;
  text-align: center;
}
.aside-wrapper {
  width: 250px;
  position: absolute;
}
.aside-wrapper .person {
  padding: 10px 0 10px 10px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
.aside-wrapper .person .p-img {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
.aside-wrapper .person .p-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}
.aside-wrapper .person .p-info {
  float: left;
  margin-left: 20px;
}
.aside-wrapper .person .p-info p {
  width: 157px;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
}
.aside-wrapper .aside-down {
  margin-top: 20px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}
.aside-wrapper .aside-down .remaining-time {
  width: 230px;
  margin: 0 auto;
  color: #ff3408;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
  font-size: 16px;
}
.aside-wrapper .aside-down .remaining-time i {
  padding-left: 25px;
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -340px -395px;
}
.aside-wrapper .aside-down .legend h6 {
  margin: 5px 0 5px 10px;
}
.aside-wrapper .aside-down .legend p {
  display: inline-block;
  margin-left: 10px;
  color: #666;
}
.aside-wrapper .aside-down .legend p span {
  padding-left: 19px;
  margin-right: 5px;
}
.aside-wrapper .aside-down .legend .p1 span {
  background-color: #3481d0;
}
.aside-wrapper .aside-down .legend .p2 span {
  background-color: #ababab;
}
.aside-wrapper .aside-down .legend .p3 span {
  background-color: #ff3408;
}
.aside-wrapper .aside-down .subject-type {
  padding-bottom: 10px;
  overflow-y: auto;
}
.aside-wrapper .aside-down .subject-type ul {
  font-size: 0;
}
.aside-wrapper .aside-down .subject-type p {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
}
.aside-wrapper .aside-down .subject-type li {
  display: inline-block;
  font-size: 14px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #ababab;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.aside-wrapper .aside-down .subject-type li.active {
  background-color: #3481d0;
}
.aside-wrapper .aside-down .subject-type li.doubtful {
  background-color: #ff3408;
}
.aside-fixed {
  position: fixed;
  top: 100px;
  z-index: 100;
  width: 1200px;
  margin: 0 auto;
}
.all-subject {
  margin-left: 270px;
  width: 908px;
  border: 1px solid #dfdfdf;
  padding: 10px;
  background-color: #fff;
}
.all-subject > div {
  border: 1px solid #dfdfdf;
  margin-top: 20px;
}
.all-subject .title {
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
}
.all-subject .title .type {
  float: left;
  margin-left: 10px;
  line-height: 50px;
  font-size: 16px;
}
.all-subject .title .detail {
  float: left;
  margin-left: 5px;
  height: 50px;
  line-height: 50px;
  color: #888;
}
.all-subject .subject {
  position: relative;
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid #dfdfdf;
}
.all-subject .subject p {
  line-height: 25px;
  padding-bottom: 10px;
}
.all-subject .subject i {
  position: absolute;
  top: 10px;
  left: 3px;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  background-color: #3481d0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.all-subject .subject span {
  color: #888;
  margin-right: 5px;
}
.all-subject .subject a {
  position: absolute;
  right: 10px;
  bottom: 0;
  padding-left: 20px;
  color: #ff3408;
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -342px -867px;
}
.all-subject .subject a.active {
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -342px -756px;
}
.all-subject .source {
  padding: 0 20px 0 30px;
  margin-top: 10px;
}
.all-subject .source img {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}
.all-subject .source .img {
  cursor: url('http://localhost:8080/static/img/magnifier.ico'), auto;
}
.all-subject .option {
  padding: 0 20px 10px 30px;
}
.all-subject .option li {
  margin-top: 20px;
  cursor: pointer;
}
.all-subject .option li span {
  padding-left: 23px;
  margin-right: 5px;
}
.all-subject .option-single li span {
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -341px -638px;
}
.all-subject .option-single li.active span {
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -341px -515px;
}
.all-subject .option-double li span {
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -527px -154px;
}
.all-subject .option-double li.active span {
  background: url(http://localhost:8080/static/img/qxicon.png) no-repeat -527px -24px;
}
.showbigimg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}
.showbigimg img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.showbigimg img:hover {
  cursor: url('http://localhost:8080/static/img/narrow.ico'), auto;
}
