.content {
  width: 1200px;
  margin: 0 auto;
}

.mine-exam {
  margin-top: 20px;
}

.mine-exam h5 {
  // display: none;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.mine-exam ul {
  margin-left: -44px;
  padding-bottom: 20px;
  overflow: auto;
}

.mine-exam li {
  float: left;
  width: 265px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 20px;
  margin-left: 43px;
  overflow: hidden;
  cursor: pointer;
}

.mine-exam li:hover img {
  // transform: scale(1.05);
  // -o-transform: scale(1.05);
  // -moz-transform: scale(1.05);
}

.mine-exam li:hover .title {
  color: #3481d0;
}

.mine-exam li .img img {
  width: 265px;
  height: 200px;
  overflow: hidden;
  // transition: all 0.3s linear;
}

.mine-exam li .title {
  margin: 5px 0;
  padding-left: 10px;
  font-size: 16px;
  // transition: all 0.3s linear;
}

.mine-exam li .title p {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.mine-exam li .product {
  padding: 0 10px 5px 10px;
}

.mine-exam li .product .time {
  float: left;
  font-size: 16px;
  line-height: 30px;
  color: #3481d0;
}

.mine-exam li .product .time span.on {
  color: #ff0000;
}

.mine-exam li .product .attend {
  float: right;
}

.mine-exam li .product .attend a {
  display: block;
  width: 76px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #3481d0;
  color: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.mine-exam li .product .attend a.on {
  background-color: #ec5a47;
  color: #fff;
}

.page {
  margin: 10px 0;
  text-align: center;
}

.page > div {
  display: inline-block;
}

.page a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-left: 5px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.page a.on {
  border: 1px solid #3481d0;
  color: #3481d0;
}

.page a.notAllow {
  cursor: not-allowed;
  color: #dfdfdf;
}
